.significance {
	background-image: url("../../imgs/backgrounds/darkBackground.jpg");
	background-size: cover;
	padding-top: 9vh;
	color: white;
	width: 100%;
	&-intro {
		padding: 4rem 9vh 14rem 9vh;
		& h2 {
			font-size: 10rem;
			height: 14vh;
			margin-bottom: 0;
		}
		& h3 {
			height: 6vh;
			font-size: 3.6rem;
			color: rgb(186, 186, 186);
			margin-left: 2rem;
		}
	}
	&-content {
		position: relative;
		background-color: rgb(228, 228, 228);
		height: 40vh;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: black;
		&-bgimage {
			position: absolute;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			background-image: url("../../imgs/backgrounds/cobra_estudio1.jpg");
			z-index: 0;
			mask-image: url("../../imgs/mask/tattoosMask.svg");
			mask-repeat: no-repeat;
			z-index: 10;
			& h4 {
				color: white;
				font-weight: 800;
			}
		}
		& h4 {
			font-size: 3rem;
			width: 30%;
			font-weight: 300;
			text-align: center;
			line-height: 3rem;
			z-index: 1;
			padding: 5rem;
		}
	}
	&-carousel {
		height: 100vh;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		opacity: 0;
		transition: all 0.5s;
		& h3 {
			align-self: start;
			margin: 0;
			font-size: 4rem;
			padding: 6rem 5rem;
		}
		&-img-container {
			display: flex;
			width: 100%;
			align-items: center;
			justify-content: center;
		}

		&-container {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			& > * {
				font-size: 5rem;
			}

			&__content {
				display: flex;
				width: 40vw;
				flex-direction: column;
				margin: 0 2rem 0 2rem;

				overflow-x: hidden;
				&--imgs {
					display: flex;
					scroll-behavior: smooth;
					width: 200vw;
					& img {
						height: 60vh;
						width: 40vw;
						object-fit: cover;
					}
				}
			}
			& p {
				text-align: center;
				font-size: 2rem;
				width: 50%;
				margin-bottom: 0;
			}
		}
	}
}
@media screen and (max-width: 900px) {
	.significance-carousel {
		gap: 10vh;
	}
	.significance-carousel-container__content {
		display: flex;
		width: 70vw;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 10rem;
		overflow-x: scroll;
		&--imgs {
			display: flex;
			scroll-behavior: smooth;
			width: 350vw;
			& img {
				height: 40vh;
				width: 70vw;
				object-fit: cover;
			}
		}
	}
}
@media screen and (max-width: 400px) {
	.significance-carousel-container__content {
		margin-bottom: 3rem;
	}
}
