.significance {
  background-image: url("../../imgs/backgrounds/darkBackground.webp");
  background-size: cover;
  padding-top: 9vh;
  color: white;
  width: 100%;
}
.significance-intro {
  padding: 4rem 9vh 14rem 9vh;
  height: 30vh;
}
.significance-intro h2 {
  font-size: 6rem;
  margin-bottom: 0;
}
.significance-intro h3 {
  font-size: 2.7rem;
  color: rgb(186, 186, 186);
  margin-left: 2rem;
}
.significance-content {
  position: relative;
  background-color: rgb(228, 228, 228);
  height: 40vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
.significance-content-bgimage {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../imgs/backgrounds/cobra_estudio1.webp");
  z-index: 0;
  -webkit-mask-image: url("../../imgs/mask/tattoosMask.svg");
          mask-image: url("../../imgs/mask/tattoosMask.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  z-index: 10;
}
.significance-content-bgimage h4 {
  color: white;
  font-weight: 800;
}
.significance-content h4 {
  font-size: 3rem;
  width: 30%;
  font-weight: 300;
  text-align: center;
  line-height: 3rem;
  z-index: 1;
  padding: 5rem;
}
.significance-carousel {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.5s;
}
.significance-carousel h3 {
  align-self: start;
  margin: 0;
  font-size: 3rem;
  padding: 6rem 5rem;
}
.significance-carousel-img-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.significance-carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 8rem;
}
.significance-carousel-container > * {
  font-size: 2rem;
}
.significance-carousel-container__content {
  display: flex;
  width: 40vw;
  flex-direction: column;
  margin: 0 2rem 0 2rem;
  overflow-x: hidden;
}
.significance-carousel-container__content--imgs {
  display: flex;
  scroll-behavior: smooth;
  width: 200vw;
}
.significance-carousel-container__content--imgs img {
  height: 60vh;
  width: 40vw;
  -o-object-fit: cover;
     object-fit: cover;
}
.significance-carousel-container p {
  text-align: center;
  font-size: 2rem;
  width: 70vw;
  height: 10vh;
  margin-bottom: 40px;
}

@media screen and (max-width: 900px) {
  .significance-carousel {
    gap: 5vh;
    height: 85vh;
  }
  .significance-carousel-container__content {
    display: flex;
    width: 70vw;
    flex-direction: column;
    align-items: self-start;
    margin-bottom: 10rem;
    overflow-x: scroll;
  }
  .significance-carousel-container__content--imgs {
    display: flex;
    scroll-behavior: smooth;
    width: 350vw;
  }
  .significance-carousel-container__content--imgs img {
    height: 40vh;
    width: 70vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (max-width: 400px) {
  .significance-carousel-container__content {
    margin-bottom: 3rem;
  }
}/*# sourceMappingURL=significance.css.map */