.fill {
	display: flex;
	flex-direction: column;

	&-cobra {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 45vh;
		background: black;
		border-bottom: 1px solid white;
		.intro-circle {
			display: inline-block;
			background-image: url("../../imgs/logo/CobratattoLogo.png");
			background-repeat: no-repeat;
			background-size: cover;
			height: 21rem;
			width: 21rem;
			background-color: rgb(255, 255, 255);
			cursor: pointer;
			border-radius: 50%;
			box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.4);
			transition: all 0.3s;
			box-sizing: content-box;
			filter: contrast(1.4);
		}
	}

	&-artists {
		width: 100%;

		background: url("../../imgs/backgrounds/darkBackground.jpg");
		background-size: contain;

		&__artist {
			height: 27.5vh;
			padding: 1rem 5rem;
			display: flex;
			align-items: center;
			justify-content: center;

			& img {
				height: 90%;
			}

			&--text {
				width: 60%;
				display: flex;
				flex-direction: column;

				& h2 {
					font-size: 4rem;
					margin-bottom: 5px;
					color: #d6d6d6;
				}

				& p {
					font-size: 2rem;
					margin-bottom: 10px;
					color: #b7b7b7;
				}

				& span {
					font-size: 2rem;
					color: #158aff;
				}
			}
		}
	}
}
