.intro-container {
	height: 70vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	background-image: url("../../imgs/backgrounds/chooseUsBackground.jpg");
	background-attachment: fixed;
	position: relative;
	& .intro__text-container {
		background-color: rgba(0, 0, 0, 0.3);
		width: 100%;
		margin: 0;
		height: 50vh;
		display: flex;
		justify-content: center;
		align-items: center;
		& .intro__text-content {
			width: 80%;
			&--paragraphs {
				display: flex;
				gap: 2rem;

				& p {
					font-size: 2rem;
					width: 25vw;
					text-align: justify;
					margin-left: 20rem;
				}
			}
			& h2 {
				font-size: 5rem;
				margin-top: 0.5rem;
			}
		}
	}
}

@media only screen and (max-width: 700px) {
	.intro-container {
		& .intro__text-container {
			& .intro__text-content {
				display: flex;
				flex-direction: column;
				gap: 1rem;
				width: 80%;
				&--paragraphs {
					& p {
						display: inline;

						font-size: 2rem;
						width: 100%;
						margin: 0;
					}
				}
				& h2 {
					display: inline;
					font-size: 5rem;
					margin-top: 0.5rem;
				}
			}
		}
	}
}
