html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}
body {
	width: 100%;
}
.container {
	position: relative;
	display: flex;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
}
.intro_line {
	position: absolute;
	width: 1px;
	height: 8rem;
	background-color: white;
	top: calc(100% - 8rem);
	right: calc(50% - 1px);
	z-index: 10000;
}
.small_intro_line {
	position: absolute;
	width: 1px;
	height: 5rem;
	background-color: white;
	top: calc(100% - 5rem);
	right: calc(50% - 1px);
	z-index: 10000;
}
.screenFixer {
	position: absolute;
	color: white;
	font-size: 20rem;
	inset: 20px 20px;
}
p,
h4 {
	line-height: 3.3rem;
	font-family: "Quicksand", sans-serif;
	font-weight: 400;
}
a {
	color: white;
	cursor: pointer;
}
